<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <context-param>
        <param-name>mp3-dir</param-name>
        <param-value>C:/</param-value>
    </context-param>
    <servlet>
        <servlet-name>MP3Work</servlet-name>
        <servlet-class>controller.MP3Work</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletList</servlet-name>
        <servlet-class>controller.ServletList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSongList</servlet-name>
        <servlet-class>controller.ServletSongList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTotalSongList</servlet-name>
        <servlet-class>controller.ServletTotalSongList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeltSaveSongList</servlet-name>
        <servlet-class>controller.ServeltSaveSongList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MP3Work</servlet-name>
        <url-pattern>/MP3Work</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletList</servlet-name>
        <url-pattern>/ServletList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSongList</servlet-name>
        <url-pattern>/ServletSongList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTotalSongList</servlet-name>
        <url-pattern>/ServletTotalSongList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeltSaveSongList</servlet-name>
        <url-pattern>/ServeltSaveSongList</url-pattern>
    </servlet-mapping>
</web-app>
